{{ define "main" }}

<section id="offer">
  {{ if eq .CurrentSection .FirstSection}}
  <div class="offer-menu">
    {{ range .Pages }}
    <div class="menu-card">
      <a href="{{ .URL }}">
        <figure class="offer-image">
          <img
            src="{{ .Params.image_menu | safeURL }}?nf_resize=fit&w=350"
            srcset="{{ .Params.image_menu | safeURL }}?nf_resize=fit&w=700 2x"
            alt="{{ .Params.title }}"
            loading="lazy"
          />
        </figure>
        <div class="menu-card-front">
          <span>{{ .Params.title }}</span>
        </div>
        <div class="menu-card-back">
          <div class="offer-category-preview">
            {{ range .Pages }}
            <span class="offer-category-preview-item">
              {{ .Params.title }}
            </span>
            {{ end}}
          </div>
        </div>
      </a>
    </div>
    {{ end }}
  </div>
  {{else}}
  <div class="offer-container">
    {{ $categoryTitle := .Params.title }} {{ $categoryContactImage :=
    .Params.image_contact }}
    <div id="offer-category-{{ $categoryTitle }}" class="offer-category">
      <div class="offer-category-image-container">
        <picture class="offer-category-image">
          <source
            media="(max-width: 960px)"
            srcset="{{ .Params.image_category_mobile | safeURL }}?nf_resize=fit&w=350,
                  {{ .Params.image_category_mobile | safeURL }}?nf_resize=fit&w=700 2x"
          />
          <source
            srcset="{{ .Params.image_category | safeURL }}?nf_resize=fit&w=1000 1000w, 
                  {{ .Params.image_category | safeURL }}?nf_resize=fit&w=1400 1400w"
          />
          <img
            src="{{ .Params.image_category | safeURL }}?nf_resize=fit&w=800"
            alt="{{ $categoryTitle }}"
            loading="lazy"
          />
        </picture>
        <div class="offer-category-title">{{ $categoryTitle }}</div>
      </div>
      {{ range .Pages}}
      <div id="offer-item-{{ .Params.title }}" class="offer-item">
        <div
          class="offer-title"
          style="background-color: {{ .Params.titlecolor }}"
        >
          <span>{{ .Params.title }}</span>
          <div
            class="contact-image"
            style="background-image: url( '{{ $categoryContactImage | safeURL }}?nf_resize=fit&w=220' );"
          >
            <a
              href="mailto:yoma@hebamme-hin.ch?subject=Anfrage: {{.Params.title}}"
              >Anfrage</a
            >
          </div>
        </div>
        <div class="content">
          <div class="offer-description">{{ .Content }}</div>
          <div class="offer-infos">
            {{ if ne .Params.duration "" }}
            <p><span>Dauer: </span>{{ .Params.duration | markdownify }}</p>
            {{ end }} {{ if ne .Params.timing "" }}
            <p><span>Zeitpunkt: </span>{{ .Params.timing | markdownify }}</p>
            {{ end }} {{ if ne .Params.costs "" }}
            <p><span>Kosten: </span>{{ .Params.costs | markdownify }}</p>
            {{ end }} {{ if ne .Params.on_call_costs "" }}
            <p><span>Pikettentschädigung: </span>{{ .Params.on_call_costs | markdownify }}</p>
            {{ end }} {{ if ne .Params.language "" }}
            <p><span>Sprache: </span>{{ .Params.language | markdownify }}</p>
            {{ end }} {{ if ne .Params.location_area "" }}
            <p><span>Einsatzgebiet: </span>{{ .Params.location_area | markdownify }}</p>
            {{ end }} {{ if ne .Params.location "" }}
            <p><span>Ort: </span>{{ .Params.location | markdownify }}</p>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{end}}
</section>

{{ end }}
