<header id="header">
    <a href='{{ "/" | relURL }}' class="logo">
        Yoma
        <br>
        {{ $currentPage := . }}
        {{ $headerTitle := "Hebammen" }}
        {{ if ne $currentPage.Section "" }}
            {{ $headerTitle = $currentPage.Section  }}
        {{end}}
        <span>{{ $headerTitle }}</span>
    </a>
    <nav role="navigation" id="navbar">
        <ul>
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a href="{{ .URL }}" title="{{ .Title }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
    <div id="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
