<header id="header">
    <a href="{{ "/" | relURL }}" class="logo">
        <span>Yoma</span>
        <br>
        {{ $currentPage := . }}
        {{ $headerTitle := "Hebammen" }}
        {{ range .Site.Menus.main }}
            {{ if eq $currentPage.Name .Name }}
                {{ $headerTitle = .Name }}
            {{end}}
        {{ end }}
        {{ if eq $currentPage.Section "blog" }}
            {{ $headerTitle = "blog"  }}
        {{end}}
        {{ $headerTitle }}
    </a>
    <nav role="navigation" id="navbar">
        <ul>
            {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a href="{{ .URL }}" title="{{ .Title }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
    <div id="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
