<header id="header">
    <a href="{{ "/" | relURL }}" class="logo">
        <span>Hebammenpraxis</span>
        <br>
        Kim und Stefanie
    </a>
    <nav role="navigation">
        <ul class="navbar">
            {{ range .Site.Menus.main }}
            <li class="nav-item {{ with .Params.class }}{{ . }}{{ end }}">
                <a href="{{ .URL }}" title="{{ .Title }}">
                    <span>{{ .Name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>
