#contact  {
}

#contact .hero-image {
    max-height: 580px;
    overflow: hidden;
    width: 100vw;
    /* height: 100vh; */
}

#contact img {

}

#contact a {
    color: var(--text-color);
    font-weight: bold;
}
