#contact  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact .contact-image {
    margin: 0;
    width: 100%;
}

#contact .contact-image img {
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

#contact a {
    color: var(--text-color);
    font-weight: bold;
}
