#home {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#home-image {
    margin: 0;
    position: relative;
    left: 15%;
    max-width: 950px;
}

#home-image img {
    max-width: 950px;
}

#home .content {
    max-width: 530px;
}

#home .content p {
    margin-top: 0;
}

#home .content span {
    font-weight: 700;
}

@media screen and (max-width: 960px),
print {

    #home {
    }

    #home-image img {
        max-width: 450px;
        position: fixed;
        right: 0;
    }



    #home .content {
        position: absolute;
        bottom: 0;
        margin-bottom: 20px;
    }


}