#offer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4rem;
}

#offer .offer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#offer .menu-card {
  position: relative;
  margin: auto 20px auto 20px;
  width: auto;
  height: auto;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

#offer .menu-card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  transition: visibility 0s, opacity 0.4s ease-in-out;
}

#offer .menu-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s ease-in-out;
}

#offer .menu-card-front span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 0.3em;
  color: white;
  width: 95%;
}

@media (hover: hover) and (pointer: fine) and (min-width: 960px) {
  #offer .menu-card:hover {
    transform: scale(1.2);
    z-index: 1000;
  }

  #offer .menu-card:hover .offer-image {
    filter: brightness(70%);
  }

  #offer .menu-card:hover .menu-card-front {
    visibility: hidden;
    opacity: 0;
  }

  #offer .menu-card:hover .menu-card-back {
    visibility: visible;
    opacity: 1;
  }
}

#offer .offer-image {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
}

#offer .offer-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#offer .offer-category-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  overflow-wrap: break-word;
  text-align: left;
  list-style: none;
  justify-content: center;
}

#offer .offer-category-preview-item {
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
  font-size: 0.9rem;
  padding: 8px 0 8px 0;
}

#offer .offer-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.9rem;
  text-align: left;
  margin-bottom: 30px;
  padding: 1.4rem;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  height: 3.9rem;
}

#offer .offer-title span {
  display: inline-block;
  max-width: min-content;
}

#offer .offer-category-image {
  display: block;
}

#offer .offer-category-image img {
  max-width: 100%;
  object-fit: contain;
}

#offer .content {
  display: flex;
  flex-direction: row;
}

#offer .offer-description {
  width: 50%;
  margin-right: 2em;
}

#offer .offer-infos {
  width: 50%;
  margin-left: 2em;
}

#offer .offer-infos span {
  font-weight: bold;
}

#offer .offer-container {
  height: 100%;
}

#offer .offer-category {
  margin-top: 75px;
}

#offer .offer-category-image-container {
  position: relative;
}

#offer .offer-category-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.0rem;
  letter-spacing: 0.3em;
  color: white;
}

#offer .offer-item {
  margin-bottom: 75px;
  margin-top: 75px;
  position: relative;
}

#offer .content {
  margin: 0;
}

#offer .contact-image {
  position: absolute;
  right: 35px;
  top: 20px;
  background-color: black;
  background-size: 110px 110px;
  border-radius: 50%;
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#offer .contact-image a {
  margin: auto;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

@media screen and (max-width: 960px), print {
  #offer {
    margin-top: 7rem;
  }

  #offer .offer-menu {
    flex-direction: column;
  }

  #offer .content {
    display: flex;
    flex-direction: column;
  }

  #offer .menu-card {
    margin-bottom: 3rem;
  }

  #offer .offer-category {
    margin-top: 0;
  }

  #offer .offer-category-title {
    font-size: 1.3rem;
    width: 100%;
  }

  #offer .offer-title {
    margin-bottom: 10px;
    font-size: 1.0rem;
    padding: 1.2rem;
  }

  #offer .offer-item {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  #offer .offer-description {
    width: 100%;
    margin: 0;
    margin-top: 1.6rem;
  }

  #offer .offer-infos {
    width: 100%;
    margin: 0;
  }

#offer .contact-image {
  height: 70px;
  width: 70px;
  background-size: 70px 70px;
  right: 15px;
  top: 75px;
}

#offer .contact-image a {
  font-size: 0.5rem;
}
}
