#offer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
}

#offer .offer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

#offer .menu-card {
  position: relative;
  width: 350px;
  height: 350px;
  margin-top: 25%;
  transition: transform .2s ease-in-out, opacity .2s ease-in-out;
}

#offer .menu-card:hover {
  transform: scale(1.2);
  z-index: 1000;
  opacity: 0.8;
}

#offer .menu-card:hover .menu-card-front{
  visibility: hidden;
  opacity: 0;
}

#offer .menu-card:hover .menu-card-back {
  visibility: visible;
  opacity: 1;
}

#offer .menu-card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  transition: visibility 0s, opacity .4s ease-in-out;
}

#offer .menu-card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .4s ease-in-out;
}

#offer .menu-card-front span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.45rem;
  letter-spacing: 0.3em;
  color: white;
  width: 95%;
}

#offer .offer-image {
  position: relative;
  margin: 0;
}

#offer .menu-card-back .offer-image img {
}

#offer .offer-category-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  max-width: 90%;
  overflow-wrap: break-word;
}

#offer .offer-category-preview span:before {
  content: "\2022";
}

#offer .offer-category-preview span {
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: white;
  font-size: 1.1rem;
}

#offer .offer-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 1.5rem;
  text-align: left;
}

#offer .offer-category-image img {
  max-width: 100%;
  object-fit: contain;
}

#offer .content {
  display: flex;
  flex-direction: row;
}

#offer .offer-description {
  max-width: 50%;
  margin-right: 2em;
}

#offer .offer-infos {
  margin-left: 2em;
}

#offer .offer-infos span {
  font-weight: bold;
}

@media screen and (max-width: 1310px),
print { 
  #offer .offer-menu {
    display: none;
  }

  #offer .content {
    display: flex;
    flex-direction: column;
  }

  #offer .offer-description {
    max-width: 100%;
    margin: 0;
  }

  #offer .offer-infos {
    margin: 0;
  }
}