#team {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#team .team-image {
    margin: 0;
    width: 100%;
}


#team .team-image img {
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

#team .content .intro {
    width: 50%;
}

#team .content .intro span {
    letter-spacing: 0.2em;
}


@media screen and (max-width: 960px),
print {

    #team {
    }

    #team .team-image {
    }

    #team .content .intro {
        width: 100%;
    }

    .team-image img {
    }

    .content {
    }

}
