#team {
}

#team .team-image {
    width: 80vw;
}

.team-image img {
}

.content {
}


@media screen and (max-width: 960px),
print {

    #team {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2;
    }

    #team-image {
        grid-column: 1;
        grid-row: 1;
    }

    #team-image img {
        width: 300px;
    }

    .content {
        grid-column: 1;
        grid-row: 2;
        margin: auto;
    }

}
