{{ define "main" }}

<section id="contact">
    <div class="hero-image">
        <img src="{{ .Params.image | safeURL }}?nf_resize=fit&w=320"
             srcset="
                  {{ .Params.image | safeURL }}?nf_resize=fit&w=320 320w,
                  {{ .Params.image | safeURL }}?nf_resize=fit&w=800 800w,
                  {{ .Params.image | safeURL }}?nf_resize=fit&w=1200 1200w,
                  {{ .Params.image | safeURL }}?nf_resize=fit&w=1600 1600w"
             alt="Kim und Stefanie - Teamfoto" loading="lazy">
    </div>
    <div class="content">
        {{ .Content }}
    </div>
</section>

{{ end }}
