{{ define "main" }}

<section id="contact">
  <picture class="contact-image">
    <source
      media="(max-width: 960px)"
      srcset="{{ .Params.image | safeURL }}?nf_resize=fit&w=350,
              {{ .Params.image | safeURL }}?nf_resize=fit&w=700 2x"
    />
    <source
      srcset="{{ .Params.image | safeURL }}?nf_resize=fit&w=1300, 
              {{ .Params.image | safeURL }}?nf_resize=fit&w=2600 2x"
    />
    <img
      src="{{ .Params.image_category | safeURL }}?nf_resize=fit&w=1300"
      alt="Kim und Stefanie - Teamfoto"
      loading="lazy"
    />
  </picture>
    <div class="content">
        {{ .Content }}
    </div>
</section>

{{ end }}
