{{ define "main" }}

<section id="feedback">
  <div class="content">
    <div id="feedback-container">
      {{ range .Pages }}
      <div class="feedback-entry">
        <div class="feedback-image">
        <picture>
          <source 
            media="(max-width: 960px)" 
            srcset="{{ $.Site.imageCdnBase | safeURL }}{{ .Params.image | safeURL }}&w=350,
                    {{ $.Site.imageCdnBase | safeURL }}{{ .Params.image | safeURL }}&w=700 2x" />
          <source 
            srcset="{{ $.Site.imageCdnBase | safeURL }}{{ .Params.image | safeURL }}&w=400,
                    {{ $.Site.imageCdnBase | safeURL }}{{ .Params.image | safeURL }}&w=800 2x" />
          <img 
            src="{{ $.Site.imageCdnBase | safeURL }}{{ .Params.image | safeURL }}&w=300"
            alt="Feedback - {{ .Params.title }}"
            loading="lazy" />
        </picture>
        </div>
        <div class="feedback-content-container">
          <div class="feedback-entry-title">{{ .Params.title }}</div>
          <div class="feedback-entry-date">{{ dateFormat "January 2006" .Date.Local }}</div>
          <div class="feedback-content">
            {{ .Content }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}