{{ define "main" }}

<section id="home">
  <div class="image-container">
    <picture id="home-image">
      <source
        media="(max-width: 480px)"
        srcset="{{ .Params.image_mobile | safeURL }}?nf_resize=fit&w=300,
                {{ .Params.image_mobile | safeURL }}?nf_resize=fit&w=600 2x"
      />
      <source
        media="(max-width: 960px)"
        srcset="{{ .Params.image_mobile | safeURL }}?nf_resize=fit&w=450,
                {{ .Params.image_mobile | safeURL }}?nf_resize=fit&w=900 2x"
      />
      <source
        srcset="{{ .Params.image | safeURL }}?nf_resize=fit&w=900, 
                {{ .Params.image | safeURL }}?nf_resize=fit&w=1800 2x"
      />
      <img
        src="{{ .Params.image | safeURL }}?nf_resize=fit&w=900"
        alt="Yoma
      Hebammen"
        loading="lazy"
      />
    </picture>
  </div>
  <div class="content">
    <div class="content-container">
      <span>{{ .Title }}</span>
      {{ .Content }}
    </div>
  </div>
</section>

{{ end }}
