{{ define "main" }}

<section id="home">
  <div class="image-container">
    <picture id="home-image">
      <source
        media="(max-width: 480px)"
        srcset="{{ $.Site.imageCdnBase | safeURL }}{{ .Params.image_mobile | safeURL }}&w=300,
                {{ $.Site.imageCdnBase | safeURL }}{{ .Params.image_mobile | safeURL }}&w=600 2x"
      />
      <source
        media="(max-width: 960px)"
        srcset="{{ $.Site.imageCdnBase | safeURL }}{{ .Params.image_mobile | safeURL }}&w=450,
                {{ $.Site.imageCdnBase | safeURL }}{{ .Params.image_mobile | safeURL }}&w=900 2x"
      />
      <source
        srcset="{{ $.Site.imageCdnBase | safeURL }}{{ .Params.image | safeURL }}&w=900,
                {{ $.Site.imageCdnBase | safeURL }}{{ .Params.image | safeURL }}&w=1800 2x"
      />
      <img
        src="{{ $.Site.imageCdnBase | safeURL }}{{ .Params.image | safeURL }}&w=900"
        alt="Yoma
      Hebammen"
        loading="lazy"
      />
    </picture>
  </div>
  <div class="content">
    <div class="content-container">
      <span>{{ .Title }}</span>
      {{ .Content }}
    </div>
  </div>
</section>

{{ end }}
