{{ define "main" }}

<section id="contact">
  <picture class="contact-image">
    <source media="(max-width: 960px)" srcset="{{ $.Site.Params.imageCdnBaseUrl | safeURL }}{{ .Params.image | safeURL }}&w=350,
              {{ $.Site.Params.imageCdnBaseUrl | safeURL }}{{ .Params.image | safeURL }}&w=700 2x" />
    <source srcset="{{ $.Site.Params.imageCdnBaseUrl | safeURL }}{{ .Params.image | safeURL }}&w=1300,
              {{ $.Site.Params.imageCdnBaseUrl | safeURL }}{{ .Params.image | safeURL }}&w=2600 2x" />
    <img src="{{ $.Site.Params.imageCdnBaseUrl | safeURL }}{{ .Params.image | safeURL }}&w=1300" alt="Kim und Stefanie - Teamfoto" loading="lazy" />
  </picture>
  <div class="content">
    {{ if ne .Params.message "" }}
    <p id="contact-message">{{ .Params.message | markdownify }}</p>
    {{ end }}
    <form name="Kontaktformular" method="POST" data-netlify="true">
      <div class="map-container">
        <div class="column-container">
          <div id="contact-form-subject" class="form-group radio-group">
            <h2 class="form-subtitle">Ich melde mich bezüglich...</h2>
            {{ range .Site.Sections }}
            {{ if eq .Name "Angebot" }}
            {{ range .Sections}}
            <span class="radio-group-subtitle">{{ .Title }}</span>
            {{ range .Pages }}
            <label><input id="radio-button-{{ .Title }}" type="radio" name="Betreff" value="{{.Title}}"
                required><span>{{.Title}}</span></label>
            {{ end }}
            <br>
            {{ end }}
            {{ end }}
            {{ end }}
            <span class="radio-group-subtitle">Sonstiges</span>
            <label><input type="radio" name="Betreff" value="Fragen, Anliegen und Rückmeldungen" checked
                required><span>Fragen,
                Anliegen und Rückmeldungen</span></label>
          </div>
        </div>
        <div class="column-container">
          <h2 class="form-subtitle">Unser Einsatzgebiet</h2>
          <div id="map"></div>
        </div>
      </div>
      <h2 class="form-subtitle">Kontaktdaten</h2>
      <div class="form-group contact-data">
        <div class="form-row">
          <label for="input-name">Vorname*</label>
          <input id="input-name" type="text" name="Vorname" required>
        </div>
        <div class="form-row">
          <label for="input-lastname">Name*</label>
          <input id="input-lastname" type="text" name="Nachname" required>
        </div>
        <div class="form-row">
          <label for="input-street">Strasse / Nr.</label>
          <input id="input-street" type="text" name="Strasse">
        </div>
        <div class="form-row">
          <label for="input-plz">PLZ / Ort</label>
          <input id="input-plz" type="text" name="Ort">
        </div>
        <div class="form-row">
          <label for="input-email">Email*</label>
          <input id="input-email" type="email" name="Email" required>
        </div>
        <div class="form-row">
          <label for="input-phone">Telefon</label>
          <input id="input-phone" type="tel" name="Telefon">
        </div>
        <div class="form-row">
          <label for="input-birthdate">Errechneter Geburtstermin</label>
          <input id="input-birthdate" type="date" name="Errechneter Geburtstermin">
        </div>
        <div class="form-row">
          <span class="form-info">* = benötigte Angaben</span>
        </div>
      </div>
      <h2 class="form-subtitle">Nachricht</h2>
      <div class="form-group">
        <textarea placeholder="Schreib uns was..." name="Nachricht"></textarea>
      </div>
      <button type="submit">Senden</button>
      <div class="form-row">
        <div class="submit-message">
          Es kann sein, dass unsere E-Mails teilweise als Spam markiert werden. Daher bitte Junk-Mails prüfen. - <a href="mailto:yoma@hebamme-hin.ch">yoma@hebamme-hin.ch</a>
        </div>
      </div>
    </form>
  </div>
</section>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin="" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.min.css"
  integrity="sha512-jgC7UUaraDNfHV+p1HP+uv4N4xyeIIJPiHC4VhSHoiRZxAcf51j9vhq5ExRyPWZyfjEcKwtxioV3oyhcWuknqQ=="
  crossorigin="" />
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.min.js" charset="utf-8"
  integrity="sha512-EUuoSG45fcDUjN1ewxDDO1BTCDYf2CUgXDAAWaz/vbz53vziljC5dNXK+UsBCKnpxLIJZn3hNS5S/kUVJZreFA=="
  crossorigin=""></script>

<script>
  const preFillRadioButtonGroup = (group) => {
    const params = window.location.search;
    if (!params) {
      return;
    }
    const urlParams = new URLSearchParams(params);
    const param = urlParams.get(group);
    if (!param) {
      return;
    }
    const radioButtonId = "radio-button-" + param;
    const radioButton = document.getElementById(radioButtonId);
    radioButton.checked = true;
  };

  preFillRadioButtonGroup("angebot");

  /* Setup Leaflet */
  const map = L.map('map', { dragging: !L.Browser.mobile });

  const  wmsLayer = L.tileLayer.wms('https://wms.geo.admin.ch/?', {
    layers: 'ch.swisstopo.pixelkarte-grau',
    attribution: '© <a href="https://www.swisstopo.admin.ch/">swisstopo</a>'
  }).addTo(map);

  /* Add geolocate button */
  L.control.locate({ keepCurrentZoomLevel: true }).addTo(map);

  /* Fetch and add service area polygon */
  fetch('{{ "/files/yoma-service-area-10KM.geojson" | relURL }}')
    .then(response => {
      return response.json();
    })
    .then(geojson => {
      const serviceAreaLayer = L.geoJSON(geojson,
        {
          style: {
            stroke: false,
            color: '#1f658e',
            fillOpacity: 0.5
          }
        }
      ).addTo(map);
      map.fitBounds(serviceAreaLayer.getBounds(), { maxZoom: 9 });
    });
</script>

{{ end }}
