{{ define "main" }}

<section id="impressum">
  <div class="content">{{ .Content }}</div>
  <div class="moon-container">
    <picture class="moon">
      <source
        media="(max-width: 960px)"
        srcset="{{ .Params.image | safeURL }}?nf_resize=fit&w=300,
                {{ .Params.image | safeURL }}?nf_resize=fit&w=600 2x"
      />
      <source
        srcset="{{ .Params.image | safeURL }}?nf_resize=fit&w=450, 
                {{ .Params.image | safeURL }}?nf_resize=fit&w=900 2x"
      />
      <img
        src="{{ .Params.image | safeURL }}?nf_resize=fit&w=450"
        alt="Yoma
      Hebammen - Impressum"
        loading="lazy"
      />
    </picture>
    <div class="quote">
      {{ .Params.quote }}
    </div>
  </div>
</section>

{{ end }}
