{{ define "main" }}

<section id="team">
    <figure class="team-image">
        <img src="{{ .Params.image | safeURL }}?nf_resize=fit&w=320"
                srcset="
                    {{ .Params.image | safeURL }}?nf_resize=fit&w=320 320w,
                    {{ .Params.image | safeURL }}?nf_resize=fit&w=800 800w,
                    {{ .Params.image | safeURL }}?nf_resize=fit&w=1200 1200w"
                alt="Kim und Stefanie - Teamfoto"
                loading="lazy">
    </figure>
    <div class="content">
        <span><b>DAS SIND WIR</b></span>
        <br>
        <span>STEFANIE UND KIM</span>
        {{ .Content }}
    </div>
</section>

{{ end }}
