{{ define "main" }}

<section id="team">
    <figure class="team-image">
        <img src="{{ .Params.image | safeURL }}?nf_resize=fit&w=320"
                srcset="
                    {{ .Params.image | safeURL }}?nf_resize=fit&w=320 320w,
                    {{ .Params.image | safeURL }}?nf_resize=fit&w=800 800w,
                    {{ .Params.image | safeURL }}?nf_resize=fit&w=1200 1200w"
                alt="Kim und Stefanie - Teamfoto"
                loading="lazy">
    </figure>
    <div class="content">
        <div class="intro">
            <span><b>Das sind wir</b></span>
            <br>
            <span>Stefanie und Kim</span>
        </div>
        <div class="team-content">
            {{ .Content }}
        </div>
        <div class="member-container">
            {{ range .Pages }}
            <div class="member">
                <div class="image-container">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <figure class="member-image">
                                    <img src="{{ .Params.color_image | safeURL }}?nf_resize=fit&w=300"
                                            srcset="
                                                {{ .Params.color_image | safeURL }}?nf_resize=fit&w=600 2x"
                                            alt="{{ .Params.name }} - Teamfoto"
                                            loading="lazy">
                                </figure>
                            </div>
                            <div class="flip-card-back">
                                <figure class="member-image">
                                    <img src="{{ .Params.portrait_image | safeURL }}?nf_resize=fit&w=300"
                                            srcset="
                                                {{ .Params.portrait_image | safeURL }}?nf_resize=fit&w=600 2x"
                                            alt="{{ .Params.name }} - Teamfoto"
                                            loading="lazy">
                                </figure>
                            </div>
                        </div>
                        <div class="contact-image" style="background-image: url( '{{ .Params.color_image | safeURL }}?nf_resize=fit&w=80' );">
                            <a href="{{ "/contact" | relURL }}">Kontakt</a>
                        </div>
                    </div>
                </div>
                <div class="member-text">
                    <div class="intro">
                        <span><b>{{ .Params.name }}</b></span>
                        <br>
                        <span>{{ .Params.degree }}</span>
                    </div>
                    <div class="member-content">
                        {{ .Content }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>

</section>

{{ end }}
