{{ define "main" }}

<section id="team">
    <figure class="team-image">
        <img src="{{ .Params.image | safeURL }}?nf_resize=fit&w=850"
             srcset="
                  {{ .Params.image | safeURL }}?nf_resize=fit&w=850 850w,
                  {{ .Params.image | safeURL }}?nf_resize=fit&w=1250 1250w"
             alt="Kim und Stefanie - Teamfoto" loading="lazy">
        <figcaption>{{ .Params.image_description }}</figcaption>
    </figure>
    <div class="content">
        {{ .Content }}
    </div>
</section>

{{ end }}
